*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    background-color: rgb(255, 235, 252);
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    padding-top: 40px;
    padding-bottom: 20px;
}

#grid {
    display: grid;
    width: 600px;
    height: 600px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.pixel-normal {
    user-select: none;
}

button {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    width: 110px;
    border: none;
    background-color: pink;
    border-radius: 15px;
    cursor: pointer;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.active {
    background-color: rgb(253, 103, 241);
}

.size-value {
    margin-top: 15px;
    margin-bottom: 3px;
}

#sizeSlider {
margin: 0px;
}

.pixel-normal {
    background-color: rgb(255, 255, 255);
}